@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=BBH+Sans+Bogle&family=Fjalla+One&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
     font-family: "Roboto", sans-serif;
     font-weight: 600;
     box-sizing: border-box;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;

}

img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.content-table{
    border-collapse: collapse;
    font-size: 1.5.4.3.2em;
    min-width: 400px;
   table-layout: fixed;
   width: 100%;
}

.content-table thead tr{
    
     color: #ccc;
     text-align: left;
     font-weight: bold;
     font-size: 22px;
}

.content-table th{
    padding: 12px 15px;
    border-bottom: 4px solid #b9b9b9;
}


.content-table td {
    padding: 12px 15px;
    
}

.content-table tbody tr {
    border-bottom: 2px solid #ddd;
}
